<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMDB Web Scrapping</title>
    <link rel="stylesheet" href="{{url_for('static',filename="bootstrap.min.css")}}">
    <link rel="stylesheet" href="{{url_for('static',filename="font-awesome/css/font-awesome.min.css")}}">
    <link rel="stylesheet" href="{{url_for('static',filename="style.css")}}">
</head>
<body>
    <div class="container">
        <img src="{{url_for('static',filename="imdb-logo-transparent.png")}}">
    </div>
    <div class="search">
        <form action="/success" method="POST"> 
            <input type="text" class="search_field" placeholder="Enter the number of movies you want to search" name="number">
            <button style="font-size:24px">Button <i class="fa fa-search"></i></button>
        </form>
    </div>
    
</body>
</html>